@charset "utf-8";

/* 웹폰트 */
@import url(./webFont.css);

/* 초기화 */
@import url(./reset.css);

body {
    font-family: 'GowunDodum-Regular';}

/* header */
#header { 
    width: 100%;
    position: relative;
    z-index: 100;
}
#header h1 { 
    position: absolute;
    z-index: 100;
    width: 149px;
    height: 35px;
    position: absolute;
    top: 40px;
    left: 100px;
}
#header h1 a {
    display: block;
    text-indent: 100%;
    width: 149px;
    height: 35px;
    white-space: nowrap;
    overflow: hidden;
    background: url(../image_source/icon/header_logo.png) no-repeat center / cover;
}


/* gnb */
    #gnb { 
    position: absolute; 
    width: 100%;
    top: 0;
    left: 50%;
    transition: 0.5s right;
    transform: translateX(-50%);
}
#gnbList{ 
    margin: 20px 0 0 100px;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    text-align: center;
    column-gap: 40px;
    overflow: hidden;
 }
#gnbList .item{ }
#gnbList .item > a { 
    line-height: 75px;
    color: white;
 }

/* snb */
.snb { padding: 20px 0;}
.snb li { line-height: 40px ;} 

/* 검색 */
#rightWrap {
    display: flex;
    position: absolute;
    top: 40px;
    right: 100px;
    z-index: 99;
}
#rightWrap .searchIcon { 
    display: block;
    width: 30px;
    height: 30px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: url(../image_source/icon/search.png) no-repeat center / cover ;
    margin-right: 30px;
    filter: invert(100%);
 }
#rightWrap .search {
    display: none;
}
#rightWrap .siteMapView {
    display: block;
    width: 30px;
    height: 30px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: url(../image_source/icon/menu.png) no-repeat center / cover ;
    margin-right: 30px;
    filter: invert(100%);
 }

/* 동영상 */
#videoWrap {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    object-fit: center;
}
#videoWrap::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5) ,rgba(0, 0, 0, 0.5));
}
#videoWrap video {
    min-width: 1920px;
    min-width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* 슬로건 */
#slogan {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
}
#slogan h2 {
    font-family: 'HancomMalangMalang-Regular';
    font-size: 5em;
    letter-spacing: -4px;
}
#slogan p {
    font-family: 'GowunDodum-Regular';
    margin-top: 30px;
    letter-spacing: 2px;
}

/* main */
#aboutUs { }
#aboutUs { }
#aboutUs { }
#aboutUs { }
#aboutUs { }
#aboutUs { }
#aboutUs { }

/* contectUs */
#contectUs {
    height: 600px;
    display: flex;
    flex-direction: column;
    background: url(../image_source/pen.png) no-repeat center bottom -100px/ 50px ,url(../image_source/blackBg.png) no-repeat center /cover;
    justify-content: center;
    align-items: center;
}
#contectUs h2{ 
    font-family: 'Pretendard';
    color: white;
    font-size: 3em;
    margin-bottom: 70px;
    font-weight: 100;
}
#contectUs a {
    font-family: 'Pretendard-Regular';
    color: white;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    padding: 0 0 10px 0;
    border-bottom: 2px solid #c2c2c2;
    margin-bottom: 70px;
}
